<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목 날짜 쪽수 느낀점</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="records : ${records}">
                <td th:text="${records.date}"></td>
                <td th:text="${records.pages}"></td>
                <td th:text="${records.inspirations}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>