<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
<div class="container">
    <div>
        <h1>Recording Books</h1>
        <p>독서 기록 프로그램</p>
        <p>
            <a href="/bookinfos/new">도서 정보 추가</a>
            <a href="/bookinfos">도서 목록</a>
        </p>
    </div>
</div> <!-- /container -->
<div class="container">
    <div>
        <h1>Recording Inspirations</h1>
        <p>도서별 기록 프로그램</p>
        <p>
            <a href="/records/new">도서 기록 추가</a>
            <a href="/records">기록 목록</a>
        </p>
    </div>
</div> <!-- /container -->
<div class="container">
    <div>
        <h1>Showing Book Titles</h1>
        <p>도서 제목 목록</p>
        <p>
            <a href="/bookinfos/titlepage">도서 제목 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>